* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0px solid red;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dm_background: #3b3840;

  --main-font: "Caprasimo", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--main-font);
}

/* important for accessibility font reszing */
.appContainer {
  font-size: 1rem;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 2rem;
  font-weight: normal;
}

h2,
h3 {
  font-size: 2.5em;
  margin-bottom: 2rem;
  font-weight: normal;
}

p,
label,
button {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 1rem;
}

/* accessibility font style */
.accessible-font {
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  padding: 2rem 0rem 2rem 0rem;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0rem 2rem 0rem;
  border-top: 1px solid lightgray;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  animation: fadeIn 2s ease-in-out;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 1rem 6rem 1rem;
}

section {
  width: 800px;
  text-align: left;
  opacity: 0;
  transform: translateY(40px);
}

section.visible {
  opacity: 1;
  transform: translateY(0px);
  transition:
    opacity 1.5s ease-in,
    transform 1s ease-in;
}

@media (max-width: 800px) {
  section {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

form {
  width: 600px;
  text-align: left;
}

button {
  font-family: var(--main-font);
  padding: 0.5rem;
  border-radius: 5px;
  width: 120px;
}

/* responsive */
@media (max-width: 667px) {
  nav {
    border-bottom: none;
  }
  footer {
    flex-direction: column;
    width: 100%;
    font-size: 0.8rem;
  }
  main {
    width: 100%;
    padding: 2rem 1rem 6rem 1rem;
  }
  form {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
